@import 'variables.scss';
@import "../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.view {
  height: 100%;
  margin: 0;
  background: $color-light-gray;
}

p, div {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}